@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 7rem;
  width: 100%;
  border-bottom: 1px #000 solid;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  height: auto;
  margin: 0;
  padding-left: 2rem;
  font-size: 3rem;
  font-family: "Lora", serif;
  font-size: 5rem;
}

header #cesta-carrito {
  height: 3.3rem;
  width: auto;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header #cesta-carrito .cesta-carrito-boton {
  color: #3f3d3d;
  font-size: 28px;
}

header #cesta-carrito #contador-carrito {
  background-color: #3f3d3d;
  height: 20px;
  width: 22px;
  font-size: small;
  color: #fff;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2px;
  margin-top: -30px;
}

.contenedor-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: max-content;
}

.contenedor-main #producto-contenedor {
  height: auto;
  max-width: 70rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 2rem;
}

.contenedor-main #producto-contenedor .card {
  width: 20rem;
  height: auto;
  border-radius: 10px;
}

.contenedor-main #producto-contenedor .card .card-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contenedor-main #producto-contenedor .card .card-image img {
  height: 25rem;
  width: auto;
  object-fit: contain;
}

.contenedor-main #producto-contenedor .card .card-image .contenedor-botonYtituloProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contenedor-main #producto-contenedor .card .card-image .contenedor-botonYtituloProducto .boton-agregar {
  background-color: #cdb77c;
}

.contenedor-main #producto-contenedor .card .card-image .contenedor-botonYtituloProducto .boton-agregar :hover {
  background-color: #a59466;
}

.contenedor-main #producto-contenedor .card .card-image .contenedor-botonYtituloProducto .nombre-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 80%;
  text-align: center;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  transition: all .5s;
}

.modal-active .modal-carrito {
  height: 100vh;
  width: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-active .modal-carrito .contenedor-tituloYbotonSalir {
  display: flex;
  justify-content: space-between;
}

.modal-active .modal-carrito .contenedor-tituloYbotonSalir .modal-carrito-titulo {
  color: #545454;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-active .modal-carrito .contenedor-tituloYbotonSalir #btn-cerrar-carrito {
  color: #000;
  background: none;
  border: none;
  font-size: 20px;
}

.modal-active .modal-carrito #carrito-contenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.modal-active .modal-carrito #carrito-contenedor::-webkit-scrollbar {
  display: none;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 95%;
  border-bottom: 3px solid #cdb77c;
  margin-top: 2rem;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .contenedor__img-mini-carrito {
  height: max-content;
  width: max-content;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .contenedor__img-mini-carrito .img-mini-carrito {
  height: 80px;
  width: 60px;
  object-fit: cover;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .contenedor__nombreYPrecio {
  height: max-content;
  width: 35%;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .contenedor__nombreYPrecio .producto__nombre {
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .contenedor__nombreYPrecio .producto__precio {
  font-size: large;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .boton-eliminar {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
}

.modal-active .modal-carrito #carrito-contenedor .productoEnCarrito .boton-eliminar :hover {
  color: #777;
}

.modal-active .modal-carrito .precioTotalProducto {
  width: 100%;
  height: 3rem;
  background-color: #3f3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #545454;
}
/*# sourceMappingURL=style.css.map */